@colour-rodekors: #da2727;
@colour-logo: #000;
@colour-border: #cacaca;
@colour-background: #e7e7e7;
/*==========================================
/ 0. Design
/=========================================*/
body {
	padding-top: .1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 4em;
	background-color: #f5f5f5;
}
/* Custom container */
.container-narrow {
    min-width: 10em;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}
.container-narrow > hr {
	margin: 30px 0;
}

h3.pagetitle {
	margin-bottom: 0px;
}
.clickable {
	cursor: pointer;
}
.border-radius ( @radius ) {
	border-radius:@radius;
	-moz-border-radius:@radius;
	-webkit-border-radius:@radius
}

/*==========================================
/ 1. [Dashboard] page
/=========================================*/
/* Main marketing message and sign up button */
.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 72px;
line-height: 1;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}

/*==========================================
/ 2. [Login] form
/=========================================*/
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/*==========================================
/ [User List] page
/=========================================*/
.user {
	.clickable;
	background-color: #f1f1f1;
}
.user div.name {
	font-weight: bold;
	color: @colour-rodekors;
}

/*==========================================
/ 3. [Missing List] page
/=========================================*/
.missing {
	.clickable;
	background-color: #f1f1f1;
}
.missing div.name {
	font-weight: bold;
	color: @colour-rodekors;
}
/*==========================================
/ 4. [Missing Details] page
/=========================================*/
.infos .info {
	margin-right: 10px;
}
li.position {
	.clickable;
	margin: 4px 0px 4px 0px;
	padding: 2px 4px 2px 4px;
	background-color: #fff;
}
.position time {
  float: right;
  font-size: 12px;
}
.position div {
  float: left;
}

#googleMap {
  clear: left;
  width: 650px;
  height: 400px;
  float: left;
}
#sidebar {
  margin: 0px 0px 0px 10px;
  padding: 0px;
  float: left;
  width: 200px;
  height: 400px;
  overflow-y: scroll;
}
@media (max-width: 767px) {
	#googleMap {
	  clear: left;
	  width: 100%;
	  height: auto;
	  min-height: 300px;
	  float: left;
	}
	#sidebar {
	  margin: 0px 0px 0px 10px;
	  padding: 0px;
	  float: left;
	  width: 200px;
	  height: 400px;
	  overflow-y: scroll;
	}

}
/*==========================================
/ 5. [New Alert] form
/=========================================*/

.new-missing {
	width: 45%;
}

#readmore h4 {
	margin: 10px 0px 5px 0px;
}
/*==========================================
/ 6. [About] page
/=========================================*/
.contact {
	float: left;
}
.contact img {
	float: left;
	background: @colour-background;
	padding: 5px;
	margin: 0px 5px 0px 0px;
	border: 1px solid @colour-border;
	.border-radius(3px);
}
.contact .name {
  font-weight: bold;
}

/*==========================================
/ 7. [User] form
/=========================================*/
.form-user {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
}