/* 
    Document   : admin.responsive.css
    Created on : Jul 19, 2013, 3:50:46 PM
    Author     : Kenneth Gulbrandsøy <kenneth@discoos.org>
    Description:
        Contains RescueMe Responsive CSS
*/

/* ==========================================
/  Large desktop
/  ==========================================*/

@media (min-width: 1200px) { 

    /* Use defaults */

}

/* ==========================================
/  Portrait tablet to landscape and desktop
/  ==========================================*/

@media (min-width: 768px) and (max-width: 979px) {  

    /* Use defaults */

}

/* ==========================================
/  Landscape phone to portrait tablet
/  ==========================================*/

@media (max-width: 767px) {

    #map {
        clear: left;
        float: left;
        width: 255px;
        height: auto;
        min-width: 255px;
        min-height: 255px;
    }

    #sidebar {
        width: 225px;
        height: auto;
        min-width: 225px;
        min-height: 255px;
    }
    
    #trace div {
        float: left !important;
    }
    
    /* Make dropdown toggles easier to hit */
    .editor .dropdown-toggle {
        width: 1.25em;
    }
    
    /* Fit formsets on single row */
    .new-missing {
        width: 100%;
    }    
    
    /* Make textareas at least 6 rows high */
    textarea {
        height: 4em;
    }
    
}

/* ==========================================
/  Portrait phones and down
/  ==========================================*/

@media (max-width: 480px) { 

    #map {
        clear: left;
        float: left;
        height: auto;
        width: 340px;
        min-width: 340px;
        min-height: 340px;
    }

    #sidebar {
        clear: left;
        float: left;
        width: 330px;
        height: auto;
        min-width: 330px;
        min-height: 330px;
        border: 1px solid lightgray;
        border-top: 0px;
    }
    
    .trace {
        left: -10px;
    }

    .trace .span
    {
        width: 70px;
    }
    
    .trace .trace-bar
    {
        width: 40px;
        left: -20px;
    }
    

    /* Make search field smaller */
    input.search-query {
        width: 5.25em;
    }

    /* Make dropdown toggles easier to hit */
    .editor .dropdown-toggle {
        width: 1.25em;
    }

    /* Allow names to wrap*/
    .name {
        white-space: normal;
    }
    
    /* Fit formsets on single row */
    .new-missing {
        width: 100%;
    }    
    
    /* Make textareas at least 6 rows high */
    textarea {
        height: 6em;
    }

}

