@color-rm: #da2727;
@color-logo: #000;
@color-border: #cacaca;
@color-background: #e7e7e7;

/*==========================================
/ Design
/=========================================*/
body {
    padding-top: .1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em;
    background-color: #f5f5f5;
}
/* Custom container */
.container-narrow {
    min-width: 10em;
    max-width: 70em;
    /*margin-top: 1em;*/
    margin-left: auto;
    margin-right: auto;
}
.container-narrow > hr {
    margin: 30px 0;
}

h3.pagetitle {
    margin-bottom: 5px;
    display:block;
    width:100%;
    padding:0;
    font-size:21px;
    line-height:40px;
    color:#333333;
    /*border:0;
    border-bottom:1px solid #e5e5e5;
    */
}

hr {
    border:0 !important;
    border-bottom:1px solid #e5e5e5 !important;
}

.clickable {
    cursor: pointer;
}

.border-radius ( @radius ) {
    border-radius:@radius;
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius
}

.icon {
    margin-right: 0.5em;
}

.no-wrap {
    white-space: nowrap;
}

.search-close {
    float: none;
    position: relative;
    left: -5px;
    top: 10px;
}

.editor a.dropdown-toggle {

}

.disabled {
    color: lightgray;
}

.loader {
    position: relative;
    top: 50%;
    z-index: 100;
    margin-left: 0.5em;
}

.loader .container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
    text-align:center;
    z-index: 1234;
    overflow: auto;
    width: 100px;
    height: 100px;
}

.label {
  font-size: 1.0em;
  padding: 0.4em;
}

.pull-right li:last-child .dropdown-menu:after {
    left: auto;
    right: 13px;
}

.pull-right li:last-child .dropdown-menu {
    left: auto;
    right: 0;
}

/*==========================================
/ [Dashboard] page
/=========================================*/
/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/*==========================================
/ [Login] form
/=========================================*/
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/*==========================================
/ [User List] page
/=========================================*/
.user {
    .clickable;
    background-color: #f1f1f1;
}

.user div.name, td.name {
    font-weight: bold;
    white-space: nowrap;
    color: @color-rm;
}

/*==========================================
/ [Missing List] page
/=========================================*/
.missing {
    cursor: pointer;
    background-color: #f1f1f1;
}

.missing div.name {
    font-weight: bold;
    color: @color-rm;
}

/*==========================================
/ [Missing Details] page
/=========================================*/
.infos .info {
    margin-right: 10px;
}

li.position {
    cursor: pointer;
    margin: 4px 0px 4px 0px;
    padding: 2px 4px 2px 4px;
    background-color: #fff;
}

.label-position {
    cursor: pointer;    
}

.position time {
    float: right;
    font-size: 12px;
}

.position div {
    float: left;
}

.papermappos {
    text-decoration: underline;
}

.trace {
    position: relative;
    left: -30px;
    float: left;
    width: 700px;
    min-width: 400px;
    max-width: 700px;
    min-height: 40px;
    padding: 10px;
    text-align: center;
}

.trace.expanded {
    min-height: 100px;    
}

.trace .span
{
    float: left;
    width: 100px;
    min-height: 0px;
    text-align: center;
    margin-left:0 !important;
}

.trace .icon
{
    width: 14px;
    height: 14px;
    padding: 2px;
    margin: 0;
}


.trace .trace-bar
{
    position: relative;
    left: -35px;
    width: 70px;
    height: 1.2em;
    border-bottom: 0.5em solid #ddd;
}

.trace .trace-bar.pass 
{
    border-bottom: 0.5em solid #468847;
}

.trace .trace-bar.warning
{
    border-bottom: 0.5em solid #f89406;
}

.trace .trace-bar.fail
{
    border-bottom: 0.5em solid #da2727;
}

.trace :first-child > .trace-bar 
{
    border: 0px;
}

.trace .icon.alarm
{
    background-position: -22px -146px;
}

.trace .icon.sent 
{
    background-position: -70px -1px;
}

.trace .icon.delivered
{
    background-position: -94px -122px;
}

.trace .icon.response
{
    background-position: -94px -146px;
}

.trace .icon.located
{
    background-position: -310px -26px;
}

.trace .trace-bar > .icon  {
    position: relative;
    float: right;
    left: 24px;
    top: 0.8em;
    width: 14px;
    height: 14px;
    padding: 2px;
 	border-radius: 10em;
    -webkit-border-radius: 10em;
	-moz-border-radius: 10em;
    vertical-align: middle;
    background-color:  #ddd;
    background-position: -286px 2px;
    background-image: url("../img/glyphicons-halflings-white.png");
}

.trace .trace-bar.pass > .icon {
    background-color:  #468847;
}

.trace .trace-bar.pass > .icon.alarm {
    background-position: -22px -142px;
}

.trace .trace-bar.pass > .icon.sent {
    background-position: -70px 2px;
}

.trace .trace-bar.pass > .icon.delivered {
    background-position: -94px -118px;
}

.trace .trace-bar.pass > .icon.response {
    background-position: -94px -142px;
}

.trace .trace-bar.pass > .icon.located {
    background-position: -310px -22px;
}

.trace .trace-bar.warning > .icon {
    background-color:  #f89406;
    background-position: -94px -94px;
}

.trace .trace-bar.warning > .icon.alarm {
    background-position: -22px -142px;
}

.trace .trace-bar.warning > .icon.sent {
    background-position: -70px 2px;
}

.trace .trace-bar.warning > .icon.delivered {
    background-position: -94px -118px;
}

.trace .trace-bar.warning > .icon.response {
    background-position: -94px -142px;
}

.trace .trace-bar.warning > .icon.located {
    background-position: -310px -22px;
}

.trace .trace-bar.fail > .icon {    
    background-color: #da2727;
    background-position: -310px 2px;
}

.trace .trace-bar.fail > .icon.alarm {
    background-position: -22px -142px;
}

.trace .trace-bar.fail > .icon.sent {
    background-position: -70px 2px;
}

.trace .trace-bar.fail > .icon.delivered {
    background-position: -94px -118px;
}

.trace .trace-bar.fail > .icon.response {
    background-position: -94px -142px;
}

.trace .trace-bar.fail > .icon.located {
    background-position: -310px -22px;
}

.trace .trace-details
{
    margin-top: 15px;
}

#map {
    margin: 0px 0px 0px 0px;
    clear: left;
    float: left;
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid lightgray;
}

#map img {
    max-width: none;
}

#sidebar {
    margin: 0;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 300px;
    height: 500px;
    border: 1px solid lightgray;
    border-left: 0px;
}

/*==========================================
/ [trace/new] form
/=========================================*/

.column {
    position: relative; 
    top: 0px;
    width: 48%;
}

.fill {
    position: relative; 
    left: 0px; 
    float: left;
    width: 100%; 
    padding-bottom: 20px;
}

form.well button[type="submit"].column {
    margin-right: 1em;
    margin-bottom: 1em;
}

#readmore {
    display:none;
    margin: 10px 0px 5px 0px;
}

.corner-ul {
    position: absolute; 
    top: 0;
    right: 0; 
}



/*==========================================
/ [About] page
/=========================================*/
.contact {
    float: left;
}
.contact img {
    float: left;
    background: @color-background;
    padding: 5px;
    margin: 0px 5px 0px 0px;
    border: 1px solid @color-border;
    .border-radius(3px);
}
.contact .name {
    font-weight: bold;
    white-space: nowrap;
}

/*==========================================
/ Forms
/=========================================*/
.form {
    padding: 0em;
    margin: 2em auto 2em;
    background-color: white;
}
.form-header {
    margin: 2em 2em 2em;
    border-bottom: 1px solid #eee;
}
.form-header h3 {
    line-height: 30px;
}
.form-body {
    margin: 2em 2em 2em;
}
.form-body label {
    color: graytext;
    font-weight: bold;
}
.form-footer {
    padding: 1em 2em 2em;
    margin-bottom: 0;
    text-align: left;
    background-color: #F1F1F1;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    *zoom: 1;
}
.form-footer:before,
.form-footer:after {
    display: table;
    content: "";
    line-height: 0;
}
.form-footer:after {
    clear: both;
}
.form-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.form-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.form-footer .btn-block + .btn-block {
    margin-left: 0;
}


