/* 
    Document   : map.css
    Created on : Sep 26, 2013, 10:26:31 PM
    Author     : Kenneth Gulbrandsøy <kenneth@onevoice.no>
    Description:
        Override default Google Maps styling
*/

div.map {
    /*display: table;*/
    text-align: center;
}

p.map {
    display: table-cell;
    vertical-align: middle;
}


.gm-style-mtc {
    width: 100px !important;
}

