{% if form is not defined %}
    {% set form = { 'class' : 'form well', 'action' : route} %}
{% endif %}
{% if form.class is not defined %}
    {% set form = form|merge({'class' : 'form well'}) %}
{% endif %}
{% if form.action is not defined %}
    {% set form = form|merge({'action' : route}) %}
{% endif %}

<form id="form" class="{{ form.class }}" action="{{ path(form.action, {'id' : id}) }}" method="post">
    <div class="form-header">
        <h3>{% block header %}{% endblock %}</h3>
    </div>
    <div class="form-body">
        {% if form.alerts is defined %}{% include 'alerts.twig' with { 'alert' : form.alerts }%}{% endif %}
        {% block content %}{% endblock %}
    </div>
    <div class="form-footer">
		<button type="submit" class="btn btn-primary" onclick="{% block submit_onclick %}{% endblock %}">
            {% block submit_title %}
                {{ T_('Submit') }}
            {% endblock %}
        </button>
        <button type="reset" class="btn" onclick="{% block cancel_onclick %}history.go(-1);{% endblock %}">
            {% block cancel_title %}
                {{ T_('Cancel') }}
            {% endblock %}
        </button>
	</div>
</form>