{% extends "design_admin.twig" %}

{% block content %}
<form id="user-form" name="user-form" method="post" class="form well" action="/admin/password/recover?SILEX">
    <div class="form-header">
        <h3 id="user-label">{% trans "Reset password" %}</h3>
    </div>
    
    <div id="user-body" class="form-body">
		<div class="row-fluid">
			<div class="span2">
			    <label class="control-label" for="country">{% trans "Mobile country" %}</label>
			    {% embed "inc.select_country.twig" with {'countries': countries, 'selected_country': selected_country} %}
			    {% endembed%}
			</div>
			
			<div class="span2">
			    <label class="control-label" for="mobile">{% trans "Mobile" %}</label>
			    <input id="mobile" name="mobile" type="tel" 
			           placeholder="{% trans "Mobile" %}" 
			           class="input-block-level" required pattern="[0-9]*" value="">
			</div>
			
			<div class="span3">
			    <label class="control-label" for="email">{% trans "E-mail" %}</label>
			    <input id="email" name="email" type="email" 
			           placeholder="{% trans "E-mail" %}" 
			           class="input-block-level" required value="">
			</div>
		</div>
    </div>
    <div class="form-footer">
		<button type="submit" class="btn btn-primary">{% trans "Reset" %}</button>
        <button type="reset" class="btn" onclick="history.go(-1);">{% trans "Cancel" %}</button>
	</div>
</form>
{% endblock %}