{% extends 'design_admin.twig' %}

{% block content %}
<div class="jumbotron">
	<h1>{% trans "Get started" %}</h1>
	<p class="lead">{% trans "Use a missing person's mobile phone for easier search and rescue" %}</p>
	<a class="btn btn-large btn-danger" href="{{APP_ADMIN_URI}}new/missing">{% trans "Start new trace" %}</a>
	<a class="btn btn-large btn-info" href="{{APP_ADMIN_URI}}list/missing">{% trans "View active traces" %}</a>
</div>
{% endblock %}