<IfModule mod_rewrite.c>
    
    RewriteEngine on

    # You may need RewriteBase on some servers. NOTE: / is document root.
    #RewriteBase /admin/

    # Rewrite URLs like "/..." to "index.php?view=..."
    #RewriteRule ^(.*)$ index.php?view=$1 [L,QSA]
    
    # Admin-page (edit, delete, details: with id)
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^(.*)/([0-9]+)/?(.*) index.php?view=$1&id=$2&q=$3 [L,QSA]

    # Admin-page (new, lists: no id)
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^(.*[^/])/?$ index.php?view=$1 [L,QSA]
    

</IfModule>
