
<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On

    # You may need RewriteBase on some servers (debian). NOTE: / is document root.
    #RewriteBase /admin/

    # Rewrite all request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]


#    RewriteEngine on
#
#
#    # You may need RewriteBase on some servers (debian). NOTE: / is document root.
#    #RewriteBase /admin/
#
#    # Rewrite URLs like "/..." to "index.php?view=..."
#    #RewriteRule ^(.*)$ index.php?view=$1 [L,QSA]
#
    # JSON requests (locale etc)
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^json/locale.json$ locale/translate.json.php [L,QSA]
#
#    # Admin-page (edit, delete, details: with id)
#    RewriteCond %{SCRIPT_FILENAME} !-d
#    RewriteCond %{SCRIPT_FILENAME} !-f
#    RewriteRule ^(.*)/([0-9]+)/?(.*) index.php?view=$1&id=$2 [L,QSA]
#
#    # Admin-page (new, lists: no id)
#    RewriteCond %{SCRIPT_FILENAME} !-d
#    RewriteCond %{SCRIPT_FILENAME} !-f
#    RewriteRule ^(.*[^/])/?(.*)$ index.php?view=$1 [L,QSA]

</IfModule>
