Options +FollowSymlinks

<IfModule mod_php5.c>
    
    php_value short_open_tag 1
    
</IfModule>

<IfModule mod_rewrite.c>
    
    RewriteEngine on    
    # RewriteBase /

    # Rewrite resource URIs to minify
    RewriteRule ^js/(.*\.js) min/g=$1 [NE]
    RewriteRule ^css/(.*\.css) min/g=$1 [NE]
    RewriteRule ^css/(.*\.less) min/g=$1 [L,NE]
    

    # Position report - first try
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^([0-9]+)-([0-9]{8})$ track/track.php?id=$1&num=$2 [L]

    # Position report - repeted tries
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^([0-9]+)-([0-9]{8})/([0-9]+)?$ track/track.php?id=$1&num=$2&attempt=$3 [L]


    # Position report - save
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^s/([0-9]+)-([0-9]{8})/(.*)/(.*)/(.*)/(.*)$ track/report.php?id=$1&num=$2&lat=$3&lon=$4&acc=$5&alt=$6 [L]
    
    
</IfModule>
