Options +FollowSymlinks

<IfModule mod_php5.c>
    
    php_value short_open_tag 1
    
</IfModule>

<IfModule mod_rewrite.c>
    
    RewriteEngine on    
    # RewriteBase /

    # Rewrite resource URIs to minify
    RewriteRule ^js/(.*\.js) min/g=$1 [NE]
    RewriteRule ^css/(.*\.css) min/g=$1 [NE]
    RewriteRule ^css/(.*\.less) min/g=$1 [L,NE]
    

    # Location request - first try
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^l/([0-9]+)/([0-9]{8})$ track/locate.php?id=$1&phone=$2 [L]

    # Location request - repeated tries
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^l/([0-9]+)/([0-9]{8})/([0-9]+)?$ track/locate.php?id=$1&phone=$2&attempt=$3 [L]

    # Location response
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
    RewriteRule ^r/([0-9]+)/([0-9]{8})/([0-9]+)/(.*)/(.*)/(.*)/(.+)$ track/report.php?id=$1&phone=$2&attempt=$3&lat=$4&lon=$5&acc=$6&alt=$7 [L]
    
    
</IfModule>
